

  <!-- ****************************************************** ANCHOR start  menu 1 and header ************************************************** -->
  
  
  <header id="header">
  
      <a href="#" class="logo"> <i class="fas fa-user-graduate"></i>logo</a>
  
      <nav class="navbar" id="navbar">
  
          <ul>
              <li><a href="#home" class="active">home</a></li>
              <li><a href="#about">about</a></li>
              <li><a href="#teacher">teacher</a></li>
              <li><a href="#course">course</a></li>
              <li><a href="#review">review</a></li>
              <li><a href="#contact">contact</a></li>
              <button id="logreg">
                  <span>
                      <i class="fas fa-reply"></i> signup</span>
                  <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
                  </svg>
              </button>
          </ul>
  
      </nav>
  
      <div class="fas fa-bars" id="fa-bars" onclick="clicker()"></div>
  
  </header>
  
  <!-- ******************************************************ANCHOR end  menu 1 and header ************************************************** -->
  
  
  <!-- ******************************************************ANCHOR start  menu 2 responsive ************************************************** -->
  
  <nav class="navbar2" id="navbar2">
  
      <ul>
          <li><a href="#home" class="active">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#teacher">teacher</a></li>
          <li><a href="#course">course</a></li>
          <li><a href="#review">review</a></li>
          <li><a href="#contact">contact</a></li>
      </ul>
  
  </nav>
  
  <!-- ******************************************************ANCHOR end  menu 2 responsive ************************************************** -->
  
  
  <!--  ************************************************ANCHOR  start  section home    ***************************************************************-->
  
  <section id="home" class="home">
  
      <div class="content">
          <h1>learn online from home</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nemo, dolore pariatur quasi libero voluptate omnis dolorem magnam officia illo earum quam illum in odio veritatis. Ducimus odit quidem ipsum voluptatem aspernatur! Deserunt, ipsam reiciendis.</p>
          <a href="#"><button><i class="fas fa-book-open"></i>  discover more</button></a>
      </div>
  
      <div class="box-container">
  
  
          <div class="box">
              <i class="fas fa-graduation-cap"></i>
              <h3>trending courses</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus non soluta labore eligendi omnis iste.</p>
          </div>
  
          <div class="box">
              <i class="fas fa-fire"></i>
              <h3>free trial</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus non soluta labore eligendi omnis iste.</p>
          </div>
  
          <div class="box">
              <i class="fas fa-award"></i>
              <h3>certification</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus non soluta labore eligendi omnis iste.</p>
          </div>
  
          <!-- <div class="box">
              <i class="fas fa-graduation-cap"></i>
              <h3>trending courses</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus non soluta labore eligendi omnis iste.</p>
          </div> -->
  
  
  
      </div>
  
  
  
  </section>
  
  <!--  ************************************************ ANCHOR end  section home    ***************************************************************-->
  
  
  <!-- ******************************************************ANCHOR start section about ************************************************** -->
  <section class="about" id="about">
  
  
      <h1 class="heading">about us</h1>
      <h3 class="title">start your journey with us</h3>
  
      <div class="row">
  
          <div class="content">
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, sapiente.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, id dolores necessitatibus neque commodi, 
                  autem doloremque magni doloribus alias eligendi aliquam nemo. Odio ullam nemo deleniti, porro recusandae rem facilis.
              </p>
              <a href="#"><button>learn more</button></a>
          </div>
  
          <div class="image">
              <img src="assets/images/about.png" alt="">
          </div>
  
      </div>
  
  
  </section>
  
  <!-- ******************************************************ANCHOR end section about ************************************************** -->
  
  <!-- ******************************************************ANCHOR start section teacher ************************************************** -->
  
  <section id="teacher" class="teacher">
  
      <h1 class="heading">our teachers</h1>
      <h3 class="title">meet professional trainer </h3>
  
      <div class="card-container">
  
          <div class="card">
              <div class="image">
  
                  <img src="assets/images/teacher1.JPG" alt="">
              </div>
              <h3>mamareza name</h3>
              <p>i love teaching</p>
              <div class="icons">
                  <a href="#" class="fab fa-facebook-f" ></a>
                  <a href="#" class="fab fa-twitter" ></a>
                  <a href="#" class="fab fa-instagram" ></a>
                  <a href="#" class="fab fa-github" ></a>
              </div>
          </div>
  
          
          <div class="card">
              <div class="image">
                  <img src="assets/images/teacher2.JPG" alt="">
              </div>
              <h3>ali name</h3>
              <p>i love teaching</p>
              <div class="icons">
                  <a href="#" class="fab fa-facebook-f" ></a>
                  <a href="#" class="fab fa-twitter" ></a>
                  <a href="#" class="fab fa-instagram" ></a>
                  <a href="#" class="fab fa-github" ></a>
              </div>
          </div>
  
          
          <div class="card">
              <div class="image">
  
                  <img src="assets/images/teacher3.JPG" alt="">
              </div>
              <h3>hossein name</h3>
              <p>i love teaching</p>
              <div class="icons">
                  <a href="#" class="fab fa-facebook-f" ></a>
                  <a href="#" class="fab fa-twitter" ></a>
                  <a href="#" class="fab fa-instagram" ></a>
                  <a href="#" class="fab fa-github" ></a>
              </div>
          </div>
  
          
          <div class="card">
              <div class="image">
  
                  <img src="assets/images/teacher4.JPG" alt="">
              </div>
              <h3>karim name</h3>
              <p>i love teaching</p>
              <div class="icons">
                  <a href="#" class="fab fa-facebook-f" ></a>
                  <a href="#" class="fab fa-twitter" ></a>
                  <a href="#" class="fab fa-instagram" ></a>
                  <a href="#" class="fab fa-github" ></a>
              </div>
          </div>
  
      </div>
  
  
  </section>
  
  <!-- ******************************************************ANCHOR end section teacher ************************************************** -->
  
  <!-- ******************************************************ANCHOR start course section *************************************************-->
  
  <section class="course" id="course">
  
      
      <h1 class="heading">we courses</h1>
      <h3 class="title">upgrade your skills with we course</h3>
  
      <div class="box-container">
      
          <div class="box">
              <i class="fab fa-html5"></i>
              <h3>html5</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
      
          <div class="box">
              <i class="fab fa-css3-alt"></i>
              <h3>css3</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
      
          <div class="box">
              <i class="fab fa-js-square"></i>
              <h3>html5</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
      
          <div class="box">
              <i class="fab fa-bootstrap"></i>
              <h3>bootstrap</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
  
          <div class="box">
              <i class="fas fa-bullhorn"></i>
              <h3>seo marketing</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
  
          
          <div class="box">
              <i class="fas fa-paint-brush"></i>
              <h3>graphic design</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, commodi.</p>
          </div>
  
      </div>
  
  </section>
  
  <!-- ******************************************************ANCHOR end course section *************************************************-->
  
  
  <!-- *************************************************** ANCHOR review section start *************************************** -->
  <section class="review" id="review">
  
      <h1 class="heading">students review</h1>
      <h3 class="title">whats our student says about us</h3>
  
      <!-- <div class="card-container">
  
          <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
          slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
          coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
  
          
          <swiper-slide>
              <div class="card">
                  <div class="image">
  
                      <img src="assets/images/teacher1.JPG" alt="">
                  </div>
                  <h3>mamareza name</h3>
                  <p>i love teaching</p>
                  <div class="icons">
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                  </div>
              </div>
          </swiper-slide>
          
          <swiper-slide>
              <div class="card">
                  <div class="image">
                      <img src="assets/images/teacher2.JPG" alt="">
                  </div>
                  <h3>ali name</h3>
                  <p>i love teaching</p>
                  <div class="icons">
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                  </div>
              </div>
          </swiper-slide>
          
          <swiper-slide>
              <div class="card">
                  <div class="image">
  
                      <img src="assets/images/teacher3.JPG" alt="">
                  </div>
                  <h3>hossein name</h3>
                  <p>i love teaching</p>
                  <div class="icons">
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                  </div>
              </div>
          </swiper-slide>
          
          <swiper-slide>
              <div class="card">
                  <div class="image">
  
                      <img src="assets/images/teacher4.JPG" alt="">
                  </div>
                  <h3>karim name</h3>
                  <p>i love teaching</p>
                  <div class="icons">
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                      <a href="#" class="fas fa-star" ></a>
                  </div>
              </div>
          </swiper-slide>
          </swiper-container>
  
      </div> -->
  
  
  </section>
  <!-- *************************************************** ANCHOR review section end *************************************** -->
  
  <!-- *************************************************** ANCHOR contact section start *************************************** -->
  <section id="contact" class="contact">
  
      <h1 class="heading">contact</h1>
      <h3 class="title">contact us with email telephone </h3>
  
  <div class="content">
  
      <div class="image">
          <img src="assets/images/contactus-0۱.png" alt="">
      </div>
  
      <div class="form">
          <form action="#">
              <input type="text" placeholder="full name">
              <input type="email" placeholder="email">
              <input type="phone" placeholder="phone">
              <textarea name="" id="" cols="30" rows="10" placeholder="address"></textarea>
              <button>discovr more</button>
          </form>
      </div>
  
  </div>
  
  </section>
  
  <!-- *************************************************** ANCHOR contact section end *************************************** -->
  
  <!-- *************************************************** NOTE footer start *************************************** -->
  
  <footer class="footer" id="footer">
  
      
  
  </footer>
  
  <!-- *************************************************** NOTE footer  end *************************************** -->
  
  
