.content-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    margin-top: -1px;
    border-top: 1px solid var(--c-border-primary);
  }
  
  .content-header-intro h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .content-header-intro p {
    color: var(--c-text-secondary);
    margin-top: 0.25rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 800px) {
    .content-header-actions a:first-child {
      display: none;
    }
  }

  .content {
    border-top: 1px solid var(--c-border-primary);
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
  }
  
  .content-panel {
    display: none;
    max-width: 280px;
    width: 25%;
    padding: 2rem 1rem 2rem 0;
    margin-right: 3rem;
  }
  @media (min-width: 800px) {
    .content-panel {
      display: block;
    }
  }
  
  .vertical-tabs {
    display: flex;
    flex-direction: column;
  }
  .vertical-tabs a {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    background-color: transparent;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color: var(--c-text-action);
    transition: 0.15s ease;
  }
  .vertical-tabs a:hover, .vertical-tabs a:focus, .vertical-tabs a.active {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
  }
  .vertical-tabs a + * {
    margin-top: 0.25rem;
  }
  
  .content-main {
    padding-top: 2rem;
    padding-bottom: 6rem;
    flex-grow: 1;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  @media (min-width: 600px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .card {
    background-color: var(--c-background-primary);
    // box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.25rem 1rem 1.25rem;
  }
  .card-header div {
    display: flex;
    align-items: center;
  }
  .card-header div span {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .card-header div span img {
    max-height: 100%;
  }
  .card-header div h3 {
    margin-left: 0.75rem;
    font-weight: 500;
  }
  
  .toggle span {
    display: block;
    width: 40px;
    height: 24px;
    border-radius: 99em;
    background-color: var(--c-background-quaternary);
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    transition: 0.15s ease;
  }
  .toggle span:before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 18px;
    width: 18px;
    background-color: var(--c-background-primary);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    transition: 0.15s ease;
  }
  .toggle input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle input:checked + span {
    background-color: var(--c-accent-primary);
  }
  .toggle input:checked + span:before {
    transform: translateX(calc(100% - 2px));
  }
  .toggle input:focus + span {
    box-shadow: 0 0 0 4px var(--c-background-tertiary);
  }
  
  .card-body {
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
  }
  
  .card-footer {
    margin-top: auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--c-border-primary);
  }
  .card-footer a {
    color: var(--c-text-action);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
  }
  
  html::-webkit-scrollbar {
    width: 12px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--c-text-primary);
    border: 4px solid var(--c-background-primary);
    border-radius: 99em;
  }

  .search {
    position: relative;
    display: flex;
    align-items: right;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
  }
  .search input {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 36px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    line-height: 1;
  }
  .search input::-moz-placeholder {
    color: var(--c-text-action);
  }
  .search input:-ms-input-placeholder {
    color: var(--c-text-action);
  }
  .search input::placeholder {
    color: var(--c-text-action);
  }
  .search input:focus, .search input:hover {
    border-color: var(--c-accent-primary);
  }
  .search button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em;
    color: var(--c-text-action);
    padding: 0;
    height: 40px;
  }

  .container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    small {
        display: block;
        font-size: 15px;
        padding-top: 8px;
        color: gray;
    }
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}