<footer>
    <div class="footer">
        <a href="#" class="logo"> <i class="fas fa-user-graduate"></i>logo</a>
    <div class="row">
  
        <div class="content">
            <h3>{{generals.all.general[0].aboutProfile.aboutTitle}}</h3>
            <p>
              {{generals.all.general[0].aboutProfile.aboutDescription}}
            </p>
        </div>
  
    </div>
    
    <div class="row">
    <ul>
        <li><a href="#home" class="active">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#teacher">teacher</a></li>
        <li><a href="#course">course</a></li>
        <li><a href="#review">review</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>
    </div>
    
    <div class="row">
    INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh 
    </div>
    </div>
    </footer>